<%= simple_form_for evaluation do |f| %>
  <% if evaluation.new_record? %>
    <div class="row">
      <%= f.input :user_id, collection: users.order(:name),
        wrapper_html: { class: %i(col-xs-2) } %>
    </div>
  <% end %>

  <div class="row">
    <%= f.input :review, wrapper_html: { class: %i(col-xs-6) } %>
  </div>
  <%= f.submit t('.submit') %>
<%- end %>
