<div class="modal" id="selectFormModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <ul class="list-group list-group-flush">
            <% questionnaires.each do |questionnaire| %>
              <%= link_to new_questionnaire_evaluation_path(questionnaire_id: questionnaire.id, evaluated_user_id: evaluated_user_id), class: 'list-group-item list-group-item-action' do %>
                <i class="fas fa-globe-americas "></i>
                <%= questionnaire.title %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
