<nav class="navbar navbar-static-top">
  <ul class="nav nav-pills">
    <li><%= link_to t(:back, scope: :helpers), kind_evaluations_path(Evaluation::KINDS[:written]) %></li>
  </ul>
</nav>
<h1>
  <%= t(:editing, scope: %i(helpers actions), model: t('evaluation.singular')) %>
  - <%= @evaluation.user.name %>
</h1>
<%= render 'form', evaluation: @evaluation, users: @users %>
