<nav class="navbar navbar-static-top">
  <ul class="nav nav-pills">
    <li><%= link_to t(:back, scope: :helpers), evaluations_path %></li>
  </ul>
</nav>
<h1 class="punch-form-title">
  <%= t(:creating, scope: %i(helpers actions), model: t('evaluation.singular')) %>
</h1>
<%= render 'form', evaluation: @evaluation, users: @users %>
