%h2 Notifications
- @notifications.each do |n|
  %p{class: "alert alert-info"}
    = gravatar_for n.from unless n.from.nil?
    = link_to n.message, n.event_path
    %a.close{'data-dismiss' => 'alert', 'href' => '#'} &times;