<% content_for :page_title do %>
  <%= t 'evaluations_title' %>
<% end %>

<div data-tab-id="evaluations" class="w-full overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
  <p>some test</p>
</div>
