<% content_for :page_title do %>
  <%= t(:editing, scope: %i(helpers actions), model: User.model_name.human) %>
<% end %>

<div data-tab-id="edit_user">
  <%= render 'form', user: @user, url: new_admin_update_user_path %>
</div>
