/.bundle
/gem
/db/*.sqlite3
/db/*.sqlite3-journal
/config/database.yml
/log/*.log
/tmp
public/assets
public/uploads
public/stylesheets

/storage/*
!/storage/.keep

coverage/

/config/master.key

.rvmrc
.versions.conf

.env

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

dump.rdb

/node_modules
/yarn-error.log

/public/assets
.byebug_history

/public/packs
/public/packs-staging
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
