<%= simple_form_for vacation do |f| %>
  <div class="row">
    <div class="col-lg-8">

      <%= f.input :start_date, as: :string, input_html: {
        autocomplete: :off,
        class: %i(datepicker),
        data: { holidays: current_user.holidays },
      } %>

      <%= f.input :end_date, as: :string, input_html: {
        autocomplete: :off,
        class: %i(datepicker),
        data: { holidays: current_user.holidays },
      } %>
    </div>
  </div>

<%= f.submit t(:request_vacation) %>
<% end %>
