<% content_for :page_title do %>
  <%= Skill.model_name.human(count: 2) %>
<% end %>

<div data-tab-id="skills" class="overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
  <div class="flex justify-between gap-4 flax-wrap">
    <div class="grow">
      <% if @skills.any? %>
        <%= render 'skills_table', skills: @skills %>
      <% else %>
        <h3 class="text-xs font-semibold text-left uppercase dark:text-gray-400">
          <%= t('.empty') %>
        </h3>
      <% end %>
    </div>
    <div id="filters_sidebar_section">
      <%= render 'skills_filter' %>
    </div>
  </div>
</div>
