.row#filter-form
  .col-md-2
    .btn-group= link_to 'Punch', new_punch_path, :class => 'btn btn-primary'
  .col-md-10.pull-right.filter-form-col
    = simple_form_for @punches_filter_form, url: punches_path, method: :get, html: { class: 'form-inline' } do |f|
      = f.input :since, as: :datepicker, label: false, placeholder: 'Since'
      = f.input :until, as: :datepicker, label: false, placeholder: 'Until'
      = f.input :project_id, collection: current_user.company.projects.order(:name), include_blank: 'All projects', label: false
      - if current_user.is_admin?
        = f.input :user_id, collection: current_user.company.users.order(:name), include_blank: 'All users', label: false
      = f.button :button, 'Filtrar', class: 'btn btn-default'
  br
table(class='table table-striped')
  colgroup
    col width='160'
    col width='100'
    col width='60'
    col width='60'
    col
    col
    col
    col width='24'
    col width='24'
    col width='24'
  thead
    tr
      th User
      th= sort_link @search, :from, 'When'
      th From
      th To
      th Delta
      th Comment
      th= sort_link @search, :project_id, 'Project'
      th
      th
  tbody
    - @punches.each do |punch|
      tr.user-punch
        td
          = gravatar_for punch.user, size: 40
          = link_to punch.user.name, user_path(punch.user)
        td= link_to punch.date, punch, id: "shw-#{punch.id}"
        td= punch.from
        td= punch.to
        td= punch.delta
        td= "# punch.comment.text " unless punch.comment.nil?
        td= punch.project.name
        td= link_to image_tag('attachment.gif'), punch.attachment_url if punch.attachment?
        td= link_to image_tag('edit.png'), edit_punch_path(punch), id: "edt-#{punch.id}"
        td= link_to image_tag('destroy.png'), punch, method: :delete, data: { confirm: 'Are you sure?' }, id: "dlt-#{punch.id}"
  tbody
  tfoot
    tr
      td(colspan="6")
        strong TOTAL: 
        = @punches.total_hours
