<div class="w-full mb-8 overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
  <div class="w-full overflow-x-auto">
    <div>
      <button data-tab-id="mentorings" onclick={}>Mentoria</button>
      <button data-tab-id="mentorings_by_office" onclick={}>Escritorios</button>
    <div>
    <div data-tab-content>
      <div id="mentorings">
        <%= render 'mentorings', mentorings: @mentorings %>
      </div>
      <div id="mentorings_by_office">
        <%= render 'mentorings_by_office', mentorings_groupped: @mentorings_group %>
      </div>
    </div>
  </div>
</div>
