<ul class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to t(:back, scope: :helpers), education_experiences_path %></li>
</ul>

<h1 class="education-experience-form-title">
  <%= t(:editing, scope: %i(helpers actions), model: EducationExperience.model_name.human) %>
</h1>

<%= render 'form', education_experience: @education_experience %>
