<% content_for :page_title do %>
  <%= t 'evaluations_title' %>
<% end %>

<div data-tab-id="evaluations" class="overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
  <div class="flex flex-wrap justify-between">
    <div>
      <% if @evaluations.any? %>
        <%= render 'evaluations_table', evaluations: @evaluations %>
      <% else %>
        <h3 class="text-xs font-semibold text-left uppercase dark:text-gray-400">
          <%= 'Nenhuma avaliação encontrada' %>
        </h3>
      <% end %>
    </div>
    <div>
      <%= render 'evaluations_filter' %>
    </div>
  </div>
</div>
