$navigation-background: $flat-dark-gray;
$navigation-color: $flat-clouds;
$navigation-color-hover: darken($flat-dark-gray, 3%);

.topnav {
  background-color: $flat-dark-gray;
  overflow: hidden;

  a {
    color: $navigation-color;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    @include media($large-screen) {
      float: left;
    }

    &:hover {
      background-color: $navigation-color-hover;
      transition: 0.4s;
    }
  }

  .nav-brand {
    a {
      font-size: 1.2em;
      line-height: 1.1;
      padding-top: 0.417em;
      padding-bottom: 0.417em;
      padding-left: 0.8em;
    }

    small {
      display: block;
      font-size: 0.65em;
    }
  }

  .icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.813em;
    padding-bottom: 0.813em;

    @include media($large-screen){
      display: none;
    }
  }

  .links a {
    display: none;

    @include media($large-screen){
      display: block;
      padding-top: 0.813em;
      padding-bottom: 0.813em;
    }
  }

  .account-options {
    @include media($large-screen) {
      float: right;
    }
  }

  .beta {
    background: $light-yellow;
    border-radius: 0.9em;
    color: $flat-pumpkin;
    font-size: .6em;
    line-height: 1;
    padding: 0.2em 0.52em;
    vertical-align: top;
  }

  &-opened {
    .links a {
      display: block;
    }
  }
}
