$navigation-background: $dark-gray;
$navigation-color: transparentize(white, 0.3);
$navigation-color-hover: white;
$navigation-height: 50px;

header.navigation {
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  font-family: $sans-serif;
  height: $navigation-height;
  width: 100%;
  
  
  .menu-wrapper {
    @include outer-container;
    position: relative;
    width: 96%;
  }

  .navigation-menu-button {
    color: $navigation-color;
    cursor: pointer;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($large-screen) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  .nav {
    @include media ($large-screen) {
      float: left;
    }
  }

  ul#navigation-menu {    
    clear: both;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    display: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    

    @include media ($large-screen) {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }

  ul li {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    vertical-align: top;

    @include media ($large-screen) {
      background: transparent;
      display: inline-block;
      line-height: $navigation-height;
      padding-right: 2em;
      text-decoration: none;
      width: auto;
    }

    a {
      font-weight: 400;
      color: $navigation-color;

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .nav-brand {
    line-height: 1.1;
    padding-top: 0.417em;
    padding-bottom: 0.417em;
    font-size: 1.2em;

    small {
      display: block;
      font-size: 0.65em;
    }
  }
  
  li.account {
    @include position(absolute, 0px 0px null null);
    font-size: .9em; 
  }

  .main-actions {
    @include outer-container;
    text-align: right;
    margin: 1em auto;
  }

  .button {
    @include button(pill, $base-accent-color);
  }

  .beta {
    border-radius: 10px;
    color: $flat-pumpkin;
    background: $light-yellow;
    font-size: .6em;
    padding: 2px 5px;
    position: relative;
    top: -10px;
  }
}
