$navigation-color: $flat-clouds;

$red: #c61515;
$redDark: #BD1414;
$redDarker: #9E0F0F;

.navbar {
  background: $red;
  background: linear-gradient(top,  $red 0%, $redDark 20%, $redDarker 100%); /* FF3.6+,Chrome10+,Safari5.1+, Opera 11.10+ IE10+*/
  background: linear-gradient(to bottom,  $red 0%,$redDark 20%,$redDarker 100%);
  background: gradient(linear, left top, left bottom, color-stop(0%,$red), color-stop(20%,$redDark), color-stop(100%,$redDarker)); /* Chrome,Safari4+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red', endColorstr='$redDarker',GradientType=0 ); /* IE6-9 */
  // overflow: hidden;

  a {
    color: $navigation-color;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    @include media($large-screen) {
      float: left;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.75);
      text-decoration: none;
      transition: 0.4s;
    }
  }

  .navbar-brand {
    a {
      text-decoration: none;
      font-size: 1.2em;
      line-height: 1.1;
      padding-top: 0.417em;
      padding-bottom: 0.417em;
      padding-left: 0.8em;
    }

    span {
      color: white;
      padding-left: 20px;
      font-weight: bold;
      text-decoration: none;
      font-size: 1.5rem;
    }

    span:hover {
      color: rgba(255, 255, 255, 0.75);
    }

    .logo {
      height: 60px;
    }
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.1rem;
    color: white;
  }

  .links a {
    display: none;

    @include media($large-screen){
      display: block;
      padding-top: 0.813em;
      padding-bottom: 0.813em;
    }
  }

  .account-options {
    @include media($large-screen) {
      float: right;
    }
  }

  .beta {
    background: $light-yellow;
    border-radius: 0.9em;
    color: $flat-pumpkin;
    font-size: .6em;
    line-height: 1;
    padding: 0.2em 0.52em;
    vertical-align: top;
  }

  &-opened {
    .links a {
      display: block;
    }
  }
}
