---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Codeminer42/cm42-central/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1593810129'
      Etag:
      - W/"cf8708c7a584c439c4d7c568f4240138"
      Last-Modified:
      - Mon, 29 Jun 2020 19:44:59 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"JavaScript":735172,"Ruby":633081,"HTML":100870,"CSS":58920,"Dockerfile":633,"CoffeeScript":29}'
  recorded_at: Fri, 03 Jul 2020 20:11:54 GMT
recorded_with: VCR 6.0.0
