<p>
  <%= t '.info', user: @user %>
</p>

<p>
  Você possui <%= t '.contributions', count: @contributions_total %> aguardando descrição da PR:
</p>

<ul>
  <% @contributions_links.each do |id, link| %>
    <li>
      <%= link_to link, edit_contribution_url(id) %>
    </li>
  <% end %>
</ul>

Abs
