<div id="twofactor-container" >
  <div class="instruction-text" >
    <h2>Atenção</h2><br>
    <h5>Escaneie seu QR code com um aplicativo de autenticação antes de sair desta página.</h5><br>
    <h5>Este codigo é único e só será mostrado esta vez.</h5>
  </div>

  <div class="qr-code-div" >
    <%= image_tag @img.to_data_url, class: 'qr-code-image' %>
  </div>
</div>
