$footer-color: lighten($base-border-color, 10);
$footer-text-color: darken($footer-color, 25);

.footer {
  background-color: $white;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.footer-inner {
  color: $footer-text-color;
  padding: 3em;

  &::before {
    border-bottom: 0.0625em solid $footer-text-color;
    content: '';
    display: inline-block;
    margin-bottom: 1em;
    width: 12em;
  }

  p {
    margin: 0;
  }
}
