.hero {
  $hero-background: $baseRedBackground;
  $hero-color: white;

  background: url(https://raw.github.com/Magnus-G/Random/master/lake-transparent.png);
  background-color: $hero-background;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;
  padding-top: 3em;

  min-height: 400px;

  &-container {
    display: flex;
    justify-content: center;
  }

  .hero-logo img {
      height: 3em;
      margin-bottom: 1em;
  }

  .hero-inner {

    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    .login {

      input[type='submit'] {
        height: 38px;
      }
    }

    .login {
      flex: 0.75;
      display: flex;
      flex-direction: column;
      align-items: center;

      form {
        width: 71%;

        .password {
          justify-content: space-between;
          margin: 0 -6px;
        }
      }
    }

    .hero-copy {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex: 1.25;
      //@include span-columns(8);

      h1 {
        margin-bottom: .2em;
        font-size: 4.5em;

        // @include media($large-screen) {
        //   font-size: 3.5em;
        // }
      }

      p {
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;

        // @include media($large-screen) {
        //   font-size: 1.2em;
        //   max-width: 40%;
        // }
      }
    }
  }
}
