.hero {
  $hero-color:  $baseRedBackground;

  padding-bottom: 4em;
  padding-top: 3em;

  &-container {
    display: flex;
    justify-content: center;
  }

  .hero-inner {

    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    h1 {
      margin-bottom: 2em;
    }

    .login {
      flex: 0.40;
      display: flex;
      flex-direction: column;
      align-items: center;

      input[type='submit'] {
        height: 38px;
      }

      form {
        width: 71%;
      }
    }
  }
}
