.navbar {
  background: $red;
  background: linear-gradient(
    to bottom,
    $red 0%,
    $redDark 20%,
    $redDarker 100%
  );
  background: gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $red),
    color-stop(20%, $redDark),
    color-stop(100%, $redDarker)
  ); /* Chrome,Safari4+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red', endColorstr='$redDarker',GradientType=0 ); /* IE6-9 */

  a {
    color: $white;
    display: flex;
    align-items: center;
    margin: 0 1em;
    justify-content: space-evenly;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: rgba(255, 255, 255, 0.75);
      text-decoration: none;
      transition: 0.4s;
    }
  }

  .navbar-brand {
    a {
      text-decoration: none;
      font-size: 1.2em;
      line-height: 1.1;
      padding-top: 0.417em;
      padding-bottom: 0.417em;
      padding-left: 0.8em;
    }

    span {
      color: white;
      padding-left: 20px;
      font-weight: bold;
      text-decoration: none;
      font-size: 1.5rem;
    }

    span:hover {
      color: rgba(255, 255, 255, 0.75);
    }

    .logo {
      height: 60px;
    }
  }

  .navbar-nav {
    a {
      img.gravatar {
        border-radius: 20px;
        margin: 1em;
      }
    }
  }

  .user-info.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      margin: 0;
    }

    span {
      color: white;
      font-weight: 600;
    }
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.1rem;
  }

  .links {
    color: white;
    display: flex;
    padding-top: 0.813em;
    padding-bottom: 0.813em;
  }

  &-opened {
    .links a {
      display: block;
    }
  }

  .dropdown-menu {
    min-width: 15rem;
    color: #c61515;
  }
}
