$white: #fff;
$black: #000;
$black-haze: #f6f7f7;
$tory-blue: #125fa8;
$rhino: #283f54;
$punch: #dc3446;

$default-text-color: $rhino;
$danger-color: $punch;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 960px;
$breakpoint-lg: 1120px;
$breakpoint-xl: 1280px;

$default-font-family: 'Roboto', sans-serif;
$default-font-size: 16px;

$default-transition-time: 250ms;
