$white: #fff;
$black: #000;
$black-haze: #f6f7f7;
$tory-blue: #125fa8;
$rhino: #283f54;
$punch: #dc3446;

$default-text-color: $rhino;
$danger-color: $punch;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 960px;
$breakpoint-lg: 1120px;
$breakpoint-xl: 1280px;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$default-font-size: 16px;

$default-transition-time: 250ms;


//TODO COLORS
$base-border-color: lightgray;

$flat-clouds: #ECF0F1;
$flat-silver: #BDC3C7;
$flat-concrete: #95A5A6;
$flat-asbestos: #7F8C8D;
$flat-dark-gray: #333333;

// Blues
$flat-peter-river: #3498DB;
$flat-belize-hole: #2980B9;
$flat-wet-asphalt: #34495E;
$flat-midnight-blue: #2C3E50;

// Reds
$flat-alizarin: #E74C3C;
$flat-pomegranate: #C0392B;
$red: #c61515;
$redDark: #BD1414;
$redDarker: #9E0F0F;

$baseRedBackground: #59302c;

// Yellows
$flat-sunflower: #F1C40F;
