<div class="clock-widget">
  <div class="clock-div">
    <canvas id="clock-canvas" width="360" height="360"></canvas>
  </div>
  <div class="login-div">
    <%= link_to 'Login',
                new_user_session_path,
                class: 'btn btn-primary' %>
  </div>
</div>
