.clock-widget
  .clock-div
    canvas id='clock-canvas' width='360' height='360'
  .login-div
    = simple_form_for :user, url: new_user_session_path do |f|
      fieldset.span6
        = f.text_field :email, placeholder: 'user@codeminer42.com', autofocus: true
        = f.password_field :password, placeholder: '************'
      fieldset.span6
        = f.submit 'Sign In', class: 'btn btn-primary'