<div class="hero">
  <div class="hero-inner">
    <div class="hero-container">

      <div class="login">
        <h1>PunchClock</h1>

        <%= simple_form_for :user, url: new_user_session_path do |f| %>
          <div class="form-group">
            <%= f.text_field :email, placeholder: 'user@codeminer42.com', autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, placeholder: '************', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit 'Sign In' %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
