<% content_for :assets do %>
  <%= javascript_pack_tag 'questionnaire' %>
<% end %>

<% content_for :page_title do %>
  <%= t 'questionnaires.edit' %>
<% end %>

<div data-tab-id="edit_questionnaire">
  <%= render 'form', questionnaire: @questionnaire, url: new_admin_update_questionnaire_path %>
</div>
