<% content_for :assets do %>
  <%= javascript_pack_tag 'nested_form' %>
<% end %>

<% content_for :page_title do %>
  <%= t 'questionnaires.new' %>
<% end %>

<div data-tab-id="new_questionnaire" class="space-y-6">
  <%= render 'form', questionnaire: @questionnaire, url: new_admin_questionnaires_path %>
</div>