defaults: &defaults
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: <%= ENV.fetch("DB_HOST", "127.0.0.1") %>
  username: <%= ENV.fetch("DB_USER", "postgres") %>
  password: <%= ENV.fetch("DB_PASSWORD", "postgres") %>

development:
  <<: *defaults
  database: punchclock_development

test:
  <<: *defaults
  database: punchclock_test

production:
  <<: *defaults
  database: punchclock_production
