development:
  adapter: postgresql
  encoding: unicode
  database: punchclock_development
  pool: 5
  username:
  password:
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: punchclock_test
  pool: 5
  username:
  password:
  host: localhost

production:
  adapter: postgresql
  encoding: unicode
  database: punchclock_production
  pool: 5
  username:
  password:
  host: localhost
