development:
  adapter: postgresql
  encoding: unicode
  database: punchclock_development
  pool: 5
  username:
  password:
  host: <%= ENV.fetch("DATABASE_HOST", "127.0.0.1") %>

test:
  adapter: postgresql
  encoding: unicode
  database: punchclock_test
  pool: 5
  username:
  password:
  host: <%= ENV.fetch("DATABASE_HOST", "127.0.0.1") %>

production:
  adapter: postgresql
  encoding: unicode
  database: punchclock_production
  pool: 5
  username:
  password:
  host: <%= ENV.fetch("DATABASE_HOST", "127.0.0.1") %>
