<div class="flex h-screen">
  <div class="flex justify-center items-center w-full max-w-[419px] px-8 bg-cover bg-no-repeat bg-[url('sidebar-background.png')]">
    <%= image_tag 'logo.png', alt: 'PunchClock', aria: { label: 'Logo do punch com o texto PunchClock' } %>
  </div>

  <div class="flex items-center w-full">
    <div class="flex flex-col items-center w-full max-w-[580px] mx-auto px-8 py-20">
      <h2 class="text-3xl mb-8">Sign In</h2>

      <div class="w-full space-y-6">
        <div class="w-full">
          <label for="email" class="block mb-2 text-base text-grey-400">
            E-mail
          </label>
          <input
            id="email"
            type="text"
            class="w-full form-input bg-grey-50 rounded-md border-2 border-grey-50 focus:border-grey-200 focus:ring-0"
          />
        </div>

        <div class="w-full">
          <label for="password" class="block mb-2 text-base text-grey-400">
            Password
          </label>
          <input
            id="password"
            type="text"
            class="w-full form-input bg-grey-50 rounded-md border-2 border-grey-50 focus:border-grey-200 focus:ring-0"
          />
        </div>
      </div>

      <div class="w-full flex justify-between items-center mt-8">
        <label class="text-base text-grey-400 font-medium">
          <input type="checkbox" class="appearance-none w-5 h-5 mr-2 bg-grey-50 border-0 rounded-md focus:ring-0 text-grey-400" />
          Remember me
        </label>

        <a href="/" class="text-sm text-blue">
          Forgot your password?
        </a>
      </div>
    </div>
  </div>
</div>
