<div class="flex h-screen">
  <div class="flex justify-center items-center w-full max-w-[419px] px-8 bg-cover bg-no-repeat bg-[url('sidebar-background.png')]">
    <%= image_tag 'logo.png', alt: 'PunchClock', aria: { label: 'Logo do punch com o texto PunchClock' } %>
  </div>

  <div class="flex items-center w-full">
    <div class="w-full max-w-[580px] mx-auto px-8 py-20 flex flex-col">
      <h2 class="text-3xl">Sign In</h2>

      <input type="text" class="w-full form-input bg-slate-100 rounded border-2 border-slate-100 focus:border-slate-400 focus:ring-0" />
    </div>
  </div>
</div>
