---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ruby/ruby/pulls?access_token=github-api-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e8a957fa9baebe5e6877c3fa65fee5fe2d038aff620290199f070ea32dc04d3a"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/538746/pulls?access_token=github-api-token&page=2>;
        rel="next", <https://api.github.com/repositories/538746/pulls?access_token=github-api-token&page=8>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1600982630'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/ruby/ruby/pulls/3576","id":492676740,"node_id":"MDExOlB1bGxSZXF1ZXN0NDkyNjc2NzQw","html_url":"https://github.com/ruby/ruby/pull/3576","diff_url":"https://github.com/ruby/ruby/pull/3576.diff","patch_url":"https://github.com/ruby/ruby/pull/3576.patch","issue_url":"https://api.github.com/repos/ruby/ruby/issues/3576","number":3576,"state":"open","locked":false,"title":"Enhanced
        RDoc for String#match?","user":{"login":"BurdetteLamar","id":556213,"node_id":"MDQ6VXNlcjU1NjIxMw==","avatar_url":"https://avatars3.githubusercontent.com/u/556213?v=4","gravatar_id":"","url":"https://api.github.com/users/BurdetteLamar","html_url":"https://github.com/BurdetteLamar","followers_url":"https://api.github.com/users/BurdetteLamar/followers","following_url":"https://api.github.com/users/BurdetteLamar/following{/other_user}","gists_url":"https://api.github.com/users/BurdetteLamar/gists{/gist_id}","starred_url":"https://api.github.com/users/BurdetteLamar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BurdetteLamar/subscriptions","organizations_url":"https://api.github.com/users/BurdetteLamar/orgs","repos_url":"https://api.github.com/users/BurdetteLamar/repos","events_url":"https://api.github.com/users/BurdetteLamar/events{/privacy}","received_events_url":"https://api.github.com/users/BurdetteLamar/received_events","type":"User","site_admin":false},"body":"","created_at":"2020-09-24T20:16:23Z","updated_at":"2020-09-24T20:23:45Z","closed_at":null,"merged_at":null,"merge_commit_sha":"2b7e1a63e5d1d31504b68cf3da33e39e2df1279f","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[{"id":670832961,"node_id":"MDU6TGFiZWw2NzA4MzI5NjE=","url":"https://api.github.com/repos/ruby/ruby/labels/Documentation","name":"Documentation","color":"0e8a16","default":false,"description":"Improvements
        to documentation."}],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/ruby/ruby/pulls/3576/commits","review_comments_url":"https://api.github.com/repos/ruby/ruby/pulls/3576/comments","review_comment_url":"https://api.github.com/repos/ruby/ruby/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ruby/ruby/issues/3576/comments","statuses_url":"https://api.github.com/repos/ruby/ruby/statuses/435449c2aece9f190672c7defde930e7ff1b0500","head":{"label":"BurdetteLamar:master","ref":"master","sha":"435449c2aece9f190672c7defde930e7ff1b0500","user":{"login":"BurdetteLamar","id":556213,"node_id":"MDQ6VXNlcjU1NjIxMw==","avatar_url":"https://avatars3.githubusercontent.com/u/556213?v=4","gravatar_id":"","url":"https://api.github.com/users/BurdetteLamar","html_url":"https://github.com/BurdetteLamar","followers_url":"https://api.github.com/users/BurdetteLamar/followers","following_url":"https://api.github.com/users/BurdetteLamar/following{/other_user}","gists_url":"https://api.github.com/users/BurdetteLamar/gists{/gist_id}","starred_url":"https://api.github.com/users/BurdetteLamar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BurdetteLamar/subscriptions","organizations_url":"https://api.github.com/users/BurdetteLamar/orgs","repos_url":"https://api.github.com/users/BurdetteLamar/repos","events_url":"https://api.github.com/users/BurdetteLamar/events{/privacy}","received_events_url":"https://api.github.com/users/BurdetteLamar/received_events","type":"User","site_admin":false},"repo":{"id":298361898,"node_id":"MDEwOlJlcG9zaXRvcnkyOTgzNjE4OTg=","name":"ruby","full_name":"BurdetteLamar/ruby","private":false,"owner":{"login":"BurdetteLamar","id":556213,"node_id":"MDQ6VXNlcjU1NjIxMw==","avatar_url":"https://avatars3.githubusercontent.com/u/556213?v=4","gravatar_id":"","url":"https://api.github.com/users/BurdetteLamar","html_url":"https://github.com/BurdetteLamar","followers_url":"https://api.github.com/users/BurdetteLamar/followers","following_url":"https://api.github.com/users/BurdetteLamar/following{/other_user}","gists_url":"https://api.github.com/users/BurdetteLamar/gists{/gist_id}","starred_url":"https://api.github.com/users/BurdetteLamar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BurdetteLamar/subscriptions","organizations_url":"https://api.github.com/users/BurdetteLamar/orgs","repos_url":"https://api.github.com/users/BurdetteLamar/repos","events_url":"https://api.github.com/users/BurdetteLamar/events{/privacy}","received_events_url":"https://api.github.com/users/BurdetteLamar/received_events","type":"User","site_admin":false},"html_url":"https://github.com/BurdetteLamar/ruby","description":"The
        Ruby Programming Language [mirror]","fork":true,"url":"https://api.github.com/repos/BurdetteLamar/ruby","forks_url":"https://api.github.com/repos/BurdetteLamar/ruby/forks","keys_url":"https://api.github.com/repos/BurdetteLamar/ruby/keys{/key_id}","collaborators_url":"https://api.github.com/repos/BurdetteLamar/ruby/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/BurdetteLamar/ruby/teams","hooks_url":"https://api.github.com/repos/BurdetteLamar/ruby/hooks","issue_events_url":"https://api.github.com/repos/BurdetteLamar/ruby/issues/events{/number}","events_url":"https://api.github.com/repos/BurdetteLamar/ruby/events","assignees_url":"https://api.github.com/repos/BurdetteLamar/ruby/assignees{/user}","branches_url":"https://api.github.com/repos/BurdetteLamar/ruby/branches{/branch}","tags_url":"https://api.github.com/repos/BurdetteLamar/ruby/tags","blobs_url":"https://api.github.com/repos/BurdetteLamar/ruby/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/BurdetteLamar/ruby/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/BurdetteLamar/ruby/git/refs{/sha}","trees_url":"https://api.github.com/repos/BurdetteLamar/ruby/git/trees{/sha}","statuses_url":"https://api.github.com/repos/BurdetteLamar/ruby/statuses/{sha}","languages_url":"https://api.github.com/repos/BurdetteLamar/ruby/languages","stargazers_url":"https://api.github.com/repos/BurdetteLamar/ruby/stargazers","contributors_url":"https://api.github.com/repos/BurdetteLamar/ruby/contributors","subscribers_url":"https://api.github.com/repos/BurdetteLamar/ruby/subscribers","subscription_url":"https://api.github.com/repos/BurdetteLamar/ruby/subscription","commits_url":"https://api.github.com/repos/BurdetteLamar/ruby/commits{/sha}","git_commits_url":"https://api.github.com/repos/BurdetteLamar/ruby/git/commits{/sha}","comments_url":"https://api.github.com/repos/BurdetteLamar/ruby/comments{/number}","issue_comment_url":"https://api.github.com/repos/BurdetteLamar/ruby/issues/comments{/number}","contents_url":"https://api.github.com/repos/BurdetteLamar/ruby/contents/{+path}","compare_url":"https://api.github.com/repos/BurdetteLamar/ruby/compare/{base}...{head}","merges_url":"https://api.github.com/repos/BurdetteLamar/ruby/merges","archive_url":"https://api.github.com/repos/BurdetteLamar/ruby/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/BurdetteLamar/ruby/downloads","issues_url":"https://api.github.com/repos/BurdetteLamar/ruby/issues{/number}","pulls_url":"https://api.github.com/repos/BurdetteLamar/ruby/pulls{/number}","milestones_url":"https://api.github.com/repos/BurdetteLamar/ruby/milestones{/number}","notifications_url":"https://api.github.com/repos/BurdetteLamar/ruby/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/BurdetteLamar/ruby/labels{/name}","releases_url":"https://api.github.com/repos/BurdetteLamar/ruby/releases{/id}","deployments_url":"https://api.github.com/repos/BurdetteLamar/ruby/deployments","created_at":"2020-09-24T18:24:17Z","updated_at":"2020-09-24T20:15:55Z","pushed_at":"2020-09-24T20:15:36Z","git_url":"git://github.com/BurdetteLamar/ruby.git","ssh_url":"git@github.com:BurdetteLamar/ruby.git","clone_url":"https://github.com/BurdetteLamar/ruby.git","svn_url":"https://github.com/BurdetteLamar/ruby","homepage":"https://www.ruby-lang.org/","size":229581,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":false,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"ruby:master","ref":"master","sha":"38385d28dff349dee0913572f976114292e98ac6","user":{"login":"ruby","id":210414,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIxMDQxNA==","avatar_url":"https://avatars3.githubusercontent.com/u/210414?v=4","gravatar_id":"","url":"https://api.github.com/users/ruby","html_url":"https://github.com/ruby","followers_url":"https://api.github.com/users/ruby/followers","following_url":"https://api.github.com/users/ruby/following{/other_user}","gists_url":"https://api.github.c[...]
