<% content_for :page_title do %>
  <%= t('regional_holidays.title') %>
<% end %>

<div data-tab-id="regional_holidays" class="overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
  <div class="flex justify-between gap-4">
    <% if @regional_holidays.any? %>
      <%= render 'regional_holidays_table', regional_holidays: @regional_holidays %>
    <% else %>
      <h3 class="text-xs font-semibold text-left uppercase dark:text-gray-400">
        <%= t('regional_holidays.empty') %>
      </h3>
    <% end %>
    <div id="filters_sidebar_section">
      <%= render 'regional_holidays_filters' %>
    </div>
  <div>
</div>
