.main {
  clear: both;
  padding: 2em;
}

.pre {
  @include outer-container;
  margin: 3em auto 0 auto;
  #new_punches_filter_form {
    @include span-columns(8);
    @include shift(1);
    .punches_filter_form_since, .punches_filter_form_until{
      @include span-columns(3);
    }
    .input.select {
      @include span-columns(3);
    }
    button {
      @include span-columns(2);
      @include omega();
    }
  }

  select {
    border: 1px solid $flat-clouds;
    height: 36px;
  }

  .avatar {
    @include span-columns(3);
    span, img {
      font-size: 2em;
    }
  }
}

#new_user{
  .field, .actions{
    width: 20em;
  }
}

.main-actions .button {
  @include button(pill, $base-accent-color);
}

.tabs {
  margin-bottom: 0.75em;
  border-bottom: 2px solid $flat-clouds;

  .tab-link {
    padding: 0.5em 0.5em 0.2em;
    color: $flat-midnight-blue;

    &.active {
      border-bottom: 2px solid $flat-midnight-blue;
    }
  }
}

.alert {
  @extend %flash-notice;
}

.error {
  input {
    border-color: $flat-alizarin;
  }

  .help-inline {
    color: $flat-alizarin;
  }
}
