body {
  margin: 0 0;
  padding: 0 0;
}

.main {
  clear: both;
  padding: 2em;
}

.pre {
  @include outer-container;
  margin: 2em auto;
  #new_punches_filter_form {
    @include span-columns(8);
    @include shift(1);
    .form-group.datepicker {
      @include span-columns(4);
    }
    .form-group.select, button {
      @include span-columns(2);
    }
    button {
      @include omega();
    }
  }
  .avatar {
    @include span-columns(3);
    span, img {
      font-size: 2em;
    }
  }
}
