.ui-widget-content {
  background: white;

  &.ui-datepicker {
    display: none;
    width: 16em;
    padding: 1em;
    z-index: 9999 !important;

    &.ui-corner-all {
      border: 1px solid;
    }

    table {
      width: 100%
    }
  }

  .ui-datepicker-year,
  .ui-datepicker-next {
    float: right;
  }
}
