$flat-clouds: #ECF0F1;
$flat-silver: #BDC3C7;
$flat-pomegranate: #C0392B;
$flat-sunflower: #F1C40F;


.calendar-container {
  display: flex;
  justify-content: center;
  -webkit-user-select: none;

  h2 {
    padding: .4em;
  }

  a {
    cursor: pointer;
  }


}

.punches-table {

  th {
    text-align: center;
  }

  td {
    -webkit-transition: all .3s;
    text-align: center;
    cursor: pointer;
    height: 110px;
    width: 110px;

    &.selected {
      background: $flat-sunflower;
    }

    &.selected, &.selected ul {
      color: white;
    }

    &.out {
      opacity: .3;
    }

    &.today {
      h3 {
        text-decoration: underline;
      }
    }
  }

  .weekday-0, .weekday-6, .weekday-holiday {
    background: $flat-clouds;
    color: $flat-silver;
    ul {
      color: $flat-pomegranate;
    }
  }

  .weekday-holiday {
    cursor: not-allowed;
  }

  .day {
    font-size: 2em;
  }

  .punches {
    font-size: .7em;
    margin-left: -40px;

    li {
      height: 1.3em;
      list-style-type: none;
    }
  }
}

.punches-toolbar {
  margin: 6em 0 0 1em;

  form {

    float: left;
    display: block;

    input[type='time'] {
      font-size: .7em;
      width: 100px;
      margin: 2px;
      display: inline-block;
    }
  }
}

.pagination {
  text-align: center;
}

.selected-days-container {
  a {
    cursor: pointer;
  }
}
