$flat-clouds: #ECF0F1;
$flat-silver: #BDC3C7;
$flat-pomegranate: #C0392B;
$flat-sunflower: #F1C40F;

$container-border-color: #c6d2d9;
$container-box-shadow-color: #a1abb1;
$header-bg-color: #e4eaee;
$header-text-color: #453b3b;

.calendar-container {
  width: 100%;
  border: 1px solid $container-border-color;
  border-radius: 4px;
  box-shadow: 0 4px 2px 0 $container-box-shadow-color;

  h2 {
    padding: .4em;
  }
}

.punches-table {
  width: 100%;

  th {
    text-align: center;
  }

  td {
    -webkit-transition: all .3s;
    text-align: center;
    cursor: pointer;
    height: 110px;
    width: 110px;

    &.selected {
      background: $flat-sunflower;
    }

    &.selected, &.selected ul {
      color: white;
    }

    &.out {
      opacity: .3;
    }

    &.today {
      h3 {
        text-decoration: underline;
      }
    }
  }

  .weekday-0, .weekday-6, .weekday-holiday {
    background: $flat-clouds;
    color: $flat-silver;
    ul {
      color: $flat-pomegranate;
    }
  }

  .weekday-holiday {
    cursor: not-allowed;
  }

  .day {
    font-size: 2em;
  }

  .punches {
    font-size: .7em;
    margin-left: -40px;

    li {
      height: 1.3em;
      list-style-type: none;
    }
  }
}

.punches-toolbar {
  margin: 6em 0 0 1em;

  form {

    float: left;
    display: block;

    input[type='time'] {
      font-size: .7em;
      width: 100px;
      margin: 2px;
      display: inline-block;
    }
  }
}

.pagination {
  text-align: center;
}

.selected-days-container {
  padding: 16px;
  padding-bottom: 0;
  border-bottom: 1px solid $container-border-color;
  background-color: $header-bg-color;
  color: $header-text-color;

  a {
    font-size: 18px;
    cursor: pointer;
  }
}

.select-container {
  min-width: 150px;
}

.form-container {
  width: 100%;
  border: 1px solid $container-border-color;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
  box-shadow: 0 4px 2px 0 $container-box-shadow-color;

  button:not([disabled]):hover {
    color: #fff !important;
  }
}
