// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "wigu/active_admin_theme";
@import "select2";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#allocation_start_at, #allocation_end_at {
  width: auto;
}

#wrapper #header #utility_nav li.has_nested ul {
  left: initial!important;
  right: 0px;
}

.admin_users, .admin_evaluations, .show.admin_offices {
  .row-overall_score td,
  .row-performance_score td,
  .row-english_score td,
  .row-english_level td,
  .row-score td,
  .col-overall_score,
  td.col-score
  {
    font-weight: bold;
  }
}

fieldset.inputs, fieldset.actions {
  padding: 0px;
}

#search_link {
  border-radius: 4px;
  background-color: #5ea3d3;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.0em;
  font-weight: bold;
}
