@import "active_admin/mixins";
@import "active_admin/base";
@import "wigu/active_admin_theme";
@import "select2";

$active-admin-label: #8494a8;
$active-admin-input-border: #e6e9ee;

$active-admin-a: #5E6469;
$active-admin-a-background: #FFFFFF;
$active-admin-a-border: #c7c7c7;

#allocation_start_at, #allocation_end_at, #user_started_at {
  width: auto;
}

#wrapper #header #utility_nav li.has_nested ul {
  left: initial!important;
  right: 0px;
}

.admin_users, .admin_evaluations, .show.admin_offices {
  .row-overall_score td,
  .row-performance_score td,
  .row-english_score td,
  .row-english_level td,
  .row-score td,
  .col-overall_score,
  td.col-score
  {
    font-weight: bold;
  }
}

.formtastic.user {
  margin-bottom: 20px;
}

.form_adm_filter_punch {
  .label{
    color: $active-admin-label;
    font-size: .9em;
    font-weight: bold;
  }
  .input_container {
    display: flex;
    margin-bottom: 10px;
    input[type='text'] {
      border: 1px solid $active-admin-input-border;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: .95em;
      margin-right: 4px;
      padding: 8px 10px 7px;
      width: 114px;
    }
  }
  a {
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    background-color: $active-admin-a-background;
    border: solid 1px $active-admin-a-border;
    color: $active-admin-a;
  }
}

.hide_custom_filter {
  display: none;
}
