// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.evaluation {
  .card-header,
  &-info
  {
    display: flex;
    justify-content: space-between;
  }
  .card.questions {
    margin-bottom: 10px;
  }
}
