#error_explanation {
  font-size: small;
  margin: 32px auto;
  width: 640px;
}
#error_explanation h2 {
  font-size: small;
  margin: 0;
}
.page-header {
  border-bottom: 1px solid gray;
  line-height: 56px;
  padding: 16px 32px;
}
.page-header-1 {
  float: left;
  width: 350px;
}
.page-header-1 a {
  color: black;
  text-decoration: none;
}
.page-header-1 h1 {
  display: inline;
  font-family: serif;
  line-height: 1em;
  margin: 0;
  vertical-align: middle;
}
.page-header-2 {
  float: left;
  text-align: right;
  width: 540px;
}
.page-header-2 a {
  margin: 0 0 0 8px;
}
a {
  color: #6495ED;
}
body {
  background-color: #fbfbfb;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 16px;
}
table {
  width: 100%;
}


/* HOME */
#clock-canvas {
  margin: 32px 0 0 80px
}
.clock-div {
  height: 417px;
}
.clock-widget {
  border: 1px solid #396c50;
  margin: 0 auto;
  width: 640px;
}
.login-div {
  background-color: #396c50;
  padding: 32px;
  text-align: center;
}
.login-div .btn {
  font-size: large;
  padding: 16px 32px;
}

/* PUNCHES */
#punch_search select.form-control {
  display: inline;
  width: auto;
}
#q_from_gteq_1i {
  width: 70px;
}
#q_from_gteq_2i {
  width: 100px;
}
#q_project_id_eq {

}

.punch-button {
  background-color: green;
  color: black;
  display: inline-block;
  padding: 2px 8px;
  text-decoration: none;
}
.punch-form-title {
  margin: 0 auto;
  width: 640px;
}
.punch-form-table {
  margin: 32px auto;
  width: 640px;
}
.punch-form-table .actions {
  text-align: right;
}
.punches-header {
  line-height: 48px;
  margin-bottom: 24px;
}
.punches-header br {
  clear: both;
}
.punches-header-1 {
  float: left;
  width: 245px;
}
.punches-header-2 {
  float: left;
  text-align: right;
  width: 645px;
}
.punches-header-2 form {
  margin: 0;
}

.signed-in .page {
  background-color: white;
}
