<h1><%= t '.info', user: @vacation.user.name, count: @vacation.duration_days %></h1>

<p><%= t '.start_date', date: l(@vacation.start_date) %></p>
<p><%= t '.end_date', date: l(@vacation.end_date) %></p>
