<h1><%= t '.info', user: @vacation.user.name %></h1>

<p><%= t '.start_date', date: l(@vacation.start_date) %></p>
<p><%= t '.end_date', date: l(@vacation.end_date) %></p>
<p><%= t '.count', count: (@vacation.end_date - @vacation.start_date).to_i %></p>
