<h1><%= t '.info', user: @vacation.user.name, count: (@vacation.end_date - @vacation.start_date).to_i %></h1>

<p><%= t '.dates', start_date: l(@vacation.start_date), end_date: l(@vacation.end_date)  %></p>
