- notifications = current_user.notifications.where("read IS NULL")[0,5]
nav class="navbar navbar-default" role= "navigation"
  .navbar-header
    button.navbar-toggle data-toggle= 'collapse' data-tagert= '.navbar-ex1-collapse'
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand href= root_path
      = image_tag current_user.company.avatar.url, width: 48, height: 48
      = "Punchclock - #{current_user.company.name}"
  ul class= 'nav navbar-nav navbar-right'
    li
      a Dashboard
    li= link_to 'Projects', projects_path
    li= link_to 'Punches', punches_path
    li.dropdown
      a class= '' data-toggle= 'dropdown' href= '#'
        | Users
        span.caret
      ul class= 'dropdown-menu' role= 'menu' aria-labelledby= 'dLabel'
        li= link_to 'All', users_path
        li= link_to 'Invite', new_user_invitation_path
    li.dropdown
      a id="n-r-count" class= '' data-toggle= 'dropdown' href= '#' onclick= 'openNotificationCenter()'
        = "Notifications"
        = "(#{notifications.count})" if notifications.count > 0
        span.caret
      ul class= 'dropdown-menu' role= 'menu' aria-labelledby= 'dLabel'
        - notifications.each do |n|
          li id= "n-rd-#{n.id}"
            = link_to n.message.truncate(45), n.event_path, onclick: "markAsRead(#{n.id})"
        li.divider
        li= link_to 'Show All', notification_index_path
    li.dropdown
      a class= '' data-toggle= 'dropdown' href= '#'
        | Settings
        span.caret
      ul class= 'dropdown-menu' role= 'menu' aria-labelledby= 'dLabel'
        li= link_to "Account", edit_user_path(current_user)
        li= link_to "Company", edit_company_path(current_user.company)
        li.divider
        li= link_to 'Logout', home_logout_path
