<!DOCTYPE html>
<html>
  <head>
    <title> Punchclock </title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
  </body>
</html>
